.main{
	background-image: url(gomech.webp);
	
	background-size:cover;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 700px;
	width:100%;
	margin-top: -15px;

	
	
}	
.navbar li{
    
	font-size:150%;
	display:inline-block;
    color:whitesmoke;
   margin: 10px;
   margin-top: 25px;
   float:right;
   top: 0px;
  
   
}
a{
	text-decoration: none;
	color: black;
}
.navbar img{
	margin-top: 10px;
}
 .navbar .active{
	height: 35px;
	width: 60px;
	background-color:red;          
	color:black;
	border-radius: 5px;
	

}
	.navbar .more:hover{
		color: red;
	}
	.center{
		background-color: whitesmoke;
		width: 68%;
		position: sticky;
		margin-top:-15px;
		top: 0px;
		font-weight: bolder;
		font-size: 15px;
		
		
	}
	.center li{
		display: inline-block;
	    font-size: 99%;
		padding: 5px;
		margin: 10px;
		
	}
	.car{
		margin-top:-80px;
		width: 850px;
		height: 1000px;
		margin: 10px;
	
	}
	.city .service{
		margin-top: 5px;
		flex-wrap:wrap;
	}
	
.spare{
	
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 10px;
	gap: 20px ;
	width: 90%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	
}
.spare .parts{

 background-color: #D8D8D8;
 width: 50%;
 box-shadow: 0.5px 0.5px 0.5px 0.5px gainsboro;
 
 
}
.spare .parts:hover{
	transform:scale(0.9,0.9);
	transition-duration: 1s;
}
.miles img{

	margin:20px;

}
.miles img:hover{
	transform:scale(0.9,0.9);
	transition-duration: 1s;
}
.curated{
	
	display: flex;
	justify-content:center ;
	text-align: center;
	margin: 10px;
	gap: 10px ;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
	

}
.heading h2{
font-weight:bolder; 
}
.curated .custom{
 
 background-color: whitesmoke;
 width: 500px;
}
.curated .custom:hover{
	transform:scale(0.9,0.9);
	transition-duration: 1s;
}
.form{
	position: fixed;
	top: 80px;
	width: 400px;
	height: 400px;
	right:30px;
	background-color:whitesmoke;
	box-shadow: 2px 2px 5px 5px gray;
	float: right;	
}
.formok{
	
}
.form h1{
	
	margin-top: 20px;
	margin-left: 65px;
}
.form p{
	margin-left: 70px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form select{
	width: 80%;
	height: 10%;
	margin-left: 50px;
	box-shadow: 10px;
}
.slideshow img{
	width: 800px;
	height: 400px;
}
.workshop img{
	width: 200px;
	
	margin:20px;
	
}

.accordion {
	background-color: #eee;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
	font-weight: bolder;
	transition: 0.4s;
  }
  
  
  .active, .accordion:hover {
	background-color: #ccc;
  }
  
  .panel {
	padding: 0 18px;
	background-color: gray;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .choice{
	background-color: whitesmoke;
	height: 130%;
  }
  .choice h4{
	font-weight: bolder;
	font-size: 20px;
  }
  .choice li{
	font-size: 15px;
	font-weight: bolder;
  }
  .choice p{
	font-style:initial;
    
  }
  .container{
	max-width: 1170px;
	margin:auto;
  }
  .row{
	display: flex;
	flex-wrap: wrap;
  }
  ul{
	list-style: none;
  }
  .footer{
	background-color: #24262b;
	  padding: 70px 0;
	  width: 155%;
	  
	  
  }
  .footer-col{
	 width: 25%;
	 padding: 0 15px;
  }
  .footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  }
  .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
  }
  .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
  }
  .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
  }
  .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
	color: black;
	background-color: white;
  }
  
  
  @media(max-width: 767px){
	.footer-col{
	  width: 50%;
	  margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
	.footer-col{
	  width: 100%;
  }
  }
 .blognavbar{
	background-color: #534949;
 }
 .blognavbar .active{
	display: inline-block;
 }